body{
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15%;
}

h1{
    font-family: cursive;
}

.time{
    font-family: 'Courier New', Courier, monospace;
    font-size: 400%;
    text-align: center;
}

.center{
    text-align: center;
}

.border-10 {
    border-width:10px !important;
}